:root {
    --color1: #636971;
    --color2: #353C47;
    --color3: #6E809C;
    --color4: #1E2633;
    --color5: #162133;
    --color6: #0D1C33;
}

* {
    box-sizing: border-box;
}

#slider {
    background-color: var(--color3);
    margin: 0;
    padding: 30px;
    width: 100%;
    height: 460px;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/* Espaçamento entre os botões de navegação automática, exceto o último */
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

/* Estilos de background para os botões de navegação automática marcados */
#radio1:checked ~ .navigation-auto #auto-btn1,
#radio2:checked ~ .navigation-auto #auto-btn2,
#radio3:checked ~ .navigation-auto #auto-btn3,
#radio4:checked ~ .navigation-auto #auto-btn4 {
    background-color: #fff;
}

/* Define a posição dos slides de acordo com o botão de navegação automática ativado */
#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

@media only screen and (max-width: 862px) {
    /* #slider {
        display: none;
    }

    #mobile-img {
        display: flex;
        background-color: var(--color3);
    }
    
    #mobile-img img {
        width: 95%;
        margin: 15px auto;
        border-radius: 6px;
    } */
}