@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --color1: #636971;
    --color2: #353C47;
    --color3: #6E809C;
    --color4: #1E2633;
    --color5: #162133;
    --color6: #0D1C33;
}

::selection {
    background: var(--color3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, header, nav, main, aside, footer {
    display: flex;
}

body {
    flex-wrap: wrap;
    flex: 1 1 100vw; /* Cresce, encolhe e largura máxima */
}

header, nav {
    background-color: var(--color4);
    color: #fff;
}

header {
    flex: 1 1 100vw; /* Cresce, encolhe e largura máxima */
    height: 100px;
}

header #logo {
    margin: 10px;
    flex: 0 1 200px; /* Não cresce, encolhe e largura máxima de 200px */
}

#open-menu, #close-menu {
    color: #fff;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1 1 100vw; /* Cresce, encolhe e largura máxima */
    align-items: center;
    justify-content: flex-end;
}

nav a {
    margin: 3%;
    font-size: 20pt;
}

nav input {
    width: 15%;
    height: 30%;
    color: white;
    background-color: var(--color3);
    border: none;
    border-radius: 6px;
    outline: 0;
    padding: 5px;
    font-size: 1.1em;
}

main {
    flex-direction: column;
    background-color: #fff;
    flex: 20 1 500px; /* Cresce, encolhe e largura máxima de 500px */
    min-height: calc(100vh - 224px);
}

aside {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: var(--color2);
    flex: 1 1 200px; /* Cresce, encolhe e largura máxima de 200px */
}

aside #login {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login a {
    color: white;
    font-weight: 450;
    text-align: center;
    background-color: var(--color3);
    padding: 10px;
    margin: 5px;
    border: solid var(--color6) 2px;
    border-radius: 8px;
    width: 100%;
}

#login a:hover {
    background-color: #7c8aa0;
}

footer {
    background-color: var(--color4);
    flex: 1 1 100vw; /* Cresce, encolhe e largura máxima */
    height: 124px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 1060px) {
    main {
        min-height: calc(100vh - 324px);
    }

    aside {
        flex: 1 1 100vw; /* Cresce, encolhe e largura máxima */
        height: 130px;
        padding: 4px;
        align-items: start;
    }

    aside #login {
        width: 180px;
        height: 200px;
    }

    #login a {
        margin: 2px;
    }
}

@media only screen and (max-width: 730px) {
    #open-menu, #close-menu {
        display: block;
    }

    #open-menu {
        margin-left: auto;
    }

    #close-menu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        color: var(--color6);
        background: #6e809ca4;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    nav input {
        width: 80%;
        height: 5%;
        color: white;
        background-color: var(--color3);
        border: none;
        border-radius: 6px;
        outline: 0;
        padding: 5px;
        font-size: 1.
    }
}